[project]
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Samsung Galaxy Nexus Maintainers
	label-Verified = -1..+1 group Samsung Galaxy Nexus Maintainers
	submit = group Samsung Galaxy Nexus Maintainers
	push = +force group Samsung Galaxy Nexus Maintainers
	pushMerge = group Samsung Galaxy Nexus Maintainers
[access "refs/for/refs/heads/*"]
	pushMerge = group Samsung Galaxy Nexus Maintainers
