[project]
	state = active
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Samsung Galaxy Nexus Maintainers
	label-Code-Review = -2..+2 group Samsung Omap Maintainers
	label-Verified = -1..+1 group Samsung Galaxy Nexus Maintainers
	label-Verified = -1..+1 group Samsung Omap Maintainers
	submit = group Samsung Galaxy Nexus Maintainers
	submit = group Samsung Omap Maintainers
